<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="2">

<test name="Login" >
	<classes>
		<class name="Tests.LoginTest.LoginTest">  </class>		
	</classes>	
</test>

<test name="Create ecommerce Website" >
	<classes>
		<class name="Tests.ECommerceTest.CreateWebsiteTest">  </class>
		<class name="Tests.ECommerceTest.CreateEcommerceCategoryTest">  </class>		
	</classes>	
</test>
<!-- <test name="CreateMemberTest" >
	<classes>
		<class name="ManageMembershipsTest.CreateMemberTest">  </class>		
	</classes>
</test>
<test name="CreateProductTest">
	<classes>
		<class name="RegisterManagementTest.CreateCategoryTest">  </class>
		<class name="RegisterManagementTest.CreateProductTest">  </class>	
		<class name="RegisterManagementTest.CreateRegisterTest">  </class>		
	</classes>
</test>  
<test name="AdddWaiver-SignWaiver-VerifyWaiver-Test">
	<classes>
		<class name="WaiverTest.AddWaiver_ReqAllGuestToSign">  </class>
		<class name="WaiverTest.AddWaiver_ReqAllGuestOverMinAgeTest">  </class>
		<class name="WaiverTest.AddWaiver_OnlyOneGuestTest">  </class>		
	</classes>
</test>
 -->
  
</suite> <!-- Suite -->
